.flex-item--site {
  width: 50%;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  text-align: center;
  opacity: 0;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 25%;
    transition: all 0.3s ease-in-out;
    min-height: 275px;
  }

  &::after {
    position: absolute;
    content: "";
    background: rgba($color: #000000, $alpha: 0.25);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    &::after {
      position: absolute;
      content: "";
      background: rgba($color: #000000, $alpha: 0);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  img {
    max-width: 200px;
    width: 75%;
    z-index: 2;
    position: relative;
  }
}

.flex-item--bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}