.design-el {
  width: 100%;
  position: absolute;
  top: 57.5%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.line {
  background-color: rgba($color: white, $alpha: 0.1);
  height: 500px;
  width: 2px;
  position: relative;
  top: 0;
  display: inline-block;
  transform: rotate(35deg);
  margin-left: 13px;
  &:hover {
    background-color: var(--color-primary);
    opacity: .5;

  }
}
