.about {
  padding-top: 10rem;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 4rem;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
  &--left {
    flex-basis: 45%;
  }
  &--right {
    flex-basis: 40%;
    img {
      max-width: 500px;
      width: 100%;
    }
  }
}
