.list-section {
  display: block;
  // flex-wrap: wrap;
  padding-top: 4rem;
  // flex-direction: column;

  &--left {
    flex-basis: 50%;
  }
  &--right {
    flex-basis: 100%;
    position: static;

    svg > g > g > g > path {
      fill: none;
    }

    @media (min-width: 768px) {
      bottom: 50px;
      left: 50px;
      position: relative;
      flex-basis: 45%;
    }
  }
  ul {
    margin-left: 1rem;
    li {
      padding-bottom: 0.75rem;
      line-height: 1.5em;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
