.contact-form {
  flex-basis: 39%;
  color: #ffffff;

  .submit-button{
    border: 1px solid var(--color-secondary);
    padding: 10px 2rem;
    width: auto;
    color: var(--color-secondary);
    transition: all .2s ease-in-out;
    display: inline-block;
    border-radius: 0px;
    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-white);
      transition: all .2s ease-in-out;
    }
  }

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 1rem;
    border: 1px solid var(--color-white);
    background-color: var(--color-black);
    color: var(--color-white);
    outline: none;
    border-radius: 0px;
  }
}
