.footer {
  background-color: var(--color-black);
  padding-bottom: 5rem;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__content {
    color: var(--color-white);
    flex-basis: 55%;
    position: relative;
  }
}

.social-links {
  position: relative;
  bottom: 0;
  margin-bottom: 3rem;
  ul {
    list-style: none;
    li {
      display: inline-block;
    }
    a {
      text-decoration: none;
      margin-right: 1.5rem;
      color: #171718ff;
    }
  }
}

.phone-link {
  text-decoration: none;
  color:var(--color-white);
  font-weight: 700;
  display: block;
  margin-bottom: 2rem;
  font-family: "Avenir";
}
