.footer {
  background-color: #171718;
  padding: 4rem 0 2rem;
  @media (min-width: 768px) {
    padding: 5rem 0;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__content {
    color: #ffffff;
    flex-basis: 55%;
    position: relative;
  }
}

.social-links {
  position: relative;
  bottom: 0;
  margin-bottom: 3rem;
  @media (min-width: 768px) {
    position: absolute;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
    }
    a {
      text-decoration: none;
      margin-right: 1.5rem;
      color: #171718ff;
    }
  }
}

.phone-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  display: block;
  margin-bottom: 1rem;
}
