// forces slides to have same height
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-arrow {
  &::before,
  &::after {
    color: var(--color-black) !important;
  }
}

.slider-section {
  padding-bottom: 4rem;
}

.slide {
  &__wrapper {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 225px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hero-work {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 5rem 0 8rem;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
  &__content {
    flex-basis: 45%;
  }
  &__animation {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    svg {
      max-width: 77%;
      width: 100%;
    }
  }
}
